<!-- 
    Typically, we may use Razor here but that's a lesson for another day
    and this is important foundation to cover.
 -->
<form action="/Account/Register" method="post">
    <label>Email</label>
    <input type="text" name="email" /><br />

    <label>Password</label>
    <input type="password" name="password" /><br />

    <br /><span style="color:red">@ViewData["Error"]</span>
    <br /><input type="submit" />
</form>